$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

.border-navy {    border-color: $navy; }
.border-blue {    border-color: $blue; }
.border-aqua {    border-color: $aqua; }
.border-teal {    border-color: $teal; }
.border-olive {   border-color: $olive; }
.border-green {   border-color: $green; }
.border-lime {    border-color: $lime; }
.border-yellow {  border-color: $yellow; }
.border-orange {  border-color: $orange; }
.border-red {     border-color: $red; }
.border-fuchsia { border-color: $fuchsia; }
.border-purple {  border-color: $purple; }
.border-maroon {  border-color: $maroon; }
.border-white {   border-color: $white; }
.border-gray {    border-color: $gray; }
.border-silver {  border-color: $silver; }
.border-black {   border-color: $black; }
