<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Hackomentalo!</h1>
        <p class="lead">
          Comments are allowed in this site.<br>
          Enter a URL to create a comment page for it.
        </p>
        <div class='new_page'>
          {{#view 'new-page' contentBinding='this'}}
          {{input
            type="text"
            id="new-page-field"
            placeholder="Paste/type a URL"
            class="big-old-input"
            value=newPageValue
          }}
            {{#if hasErrors }}
              <div class="url-error">Hmmm, that does not look like a valid URL.</div>
            {{/if}}
            <div class="clearfix"></div>
            <button type="button" {{ action 'addPage' }} class="btn btn-lg btn-danger"><i class="fa fa-comments-o"></i> Go!</button>
          {{/view}}
        </div>
      </div>

      <div class="inner info">
        <div class="container-fluid no-padding">
          <div class="row">
            <section class="col-md-3">
              <h2>No authors</h2>
              <p>Just anonymous comments with no author field. A random color is assigned per browser reload, for a diffuse sense of authorship.</p>
            </section>
            <section class="col-md-3">
              <h2>No tracking</h2>
              <p>No identity data is persisted in this software.</p>
            </section>
            <section class="col-md-3">
              <h2>One thread per URL.</h2>
              <p>Just a single thread per URL, once you created a comment site for a URL, pasting it again will take you to the first ever created.</p>
            </section>
            <section class="col-md-3">
              <h2>Free and open source.</h2>
              <p>This is a free and open source project.</p>
            </section>
          </div>
        </div>
      </div>

    </div>

    <div class="section-bg bg-dark">

      <div class="section-container">

        <div class="last-pages">
          <h3>Last pages enabled</h3>
          {{#each pages as |page| }}
            {{#link-to 'page' page}}
               {{ page.title }}
              <span><i class="fa fa-file-o"></i> {{ page.host }}</span>
            {{/link-to}}            
          {{/each}}
        </div>

      </div>

    </div>

    <div class="section-bg bg-darker">

      <div class="section-container">

        <div class="features">
          <h3>Upcoming features/tasks</h3>
          <ul>
            <li>Save snapshot for sites not allowing iframe embedding</li>
            <li>Get legal advice</li>
            <li>Define some boundaries (max chars, etc)</li>
            <li>Prevent flooders and other attacks</li>
            <li>Improve documentation</li>
            <li>i18n support</li>
            <li>Package for FirefoxOS</li>
          </ul>
        </div>

      </div>

    </div>

    <div class="section-bg bg-dark">

      <div class="section-container">

        <div class="why">
          <h3>Why?</h3>
          <p>
            This tool serves two purposes:
            <ol>
              <li><strong>Anonymity</strong>: which is a great tool to leverage freedom of speech. Forcing identity on site comments leads to self-censorship, since users are often afraid they may be penalized in some way in the future, by lawful or unlawful ways.<br><br>
            Privacy is key to protect people from censorship.
            <br>
            For example, recent laws in Argentina are forcing websites and content providers to censor user comments if they are considered hateful, or discriminatory.<br>
            By not saving any tracking data on the server, that could become technically impossible.<br>
                <br>
                <a href="http://www.vialibre.org.ar/2015/07/14/se-trata-hoy-en-diputados-la-ley-nacional-contra-la-discriminacion/"> Vía Libre Foundation</a>
                <br>
                <a href="http://www.adc.org.ar/regular-comentarios-en-internet-el-proyecto-de-ley-anti-discriminacion-es-inconstitucional/">Civil Rights Association</a>
              </li>
              <li>
                <strong>Discussion</strong>: Some news sites cease to allow comments when certain limit has been reached, or they just disallow them on certain articles, depending on the circumstances.<br>
                This is a tool to allow commenting for those sites instantly, adding a comment sidebar on this site, embedding the original one (or a snapshot).
              </li>
            </ol>

          </p>
        </div>

      </div>

    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>by <a href="https://twitter.com/pablocubico">@pablocubico</a>.</p>
      </div>
    </div>

  </div>
</div>