.comments-layout {
  height: 100%;
  width: 100%;
  background: #555;
  article {
    display: block;
    position: fixed;
    vertical-align: top;
    width: 62%;
    height: 100%;
    top: 0;
  }
  aside {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px 0px 240px 0px;
    vertical-align: top;
    width: 38%;
    height: 100%;
    background: #777;
  }

  .page-iframe {
    width: 100%;
    border: none;
    background-color: white;
    height: 100%;
    top: 0px;
    padding-top: 50px;
  }

  #page-comments {
    overflow-y: auto;
    height: 100%;
    color: #111;
    text-shadow: none;
    padding: 0 20px;
    blockquote {
      white-space: pre-wrap;
      padding: 8px;
      background: white;
      box-shadow: 0 0 4px black;
      font-weight: normal;
      text-align: left;
      font-weight: 300;
    }
    .created {
      h4 { color: #fafafa }
      padding: 50px 0;
      text-align: left;
      color: #eee;
      text-shadow: 0;
    }
  }

  .new_comment {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: rgba(0,0,0,.8);
    padding: 20px;
    border-top: 1px solid rgba(255,255,255,.77);
    box-shadow: 0 0 5px black;
    textarea {
      width: 100%;
      padding: 10px;
      color: #111;
      text-align: left;
      height: 150px;
      font-weight: 300;
    }
  }

  .hide-button, #drawer-handle {
    display: none;
  }

}

@media (max-width: 767px) {
  article {
    width: 100% !important;
  }
  aside {
    padding: 50px 0px 190px !important;
    width: 95% !important;
    box-shadow: 0px 0px 20px 5px #000;
    right: -100% !important;
    border-left: 1px solid rgba(255,255,255,.3);
    z-index: 49999;
    transition: right .5s;
    .new_comment {
      textarea {
        height: 100px !important;
      }
    }
    .hide-button {
      display: block !important;
      background: transparent none repeat scroll 0% 0%;
      color: #FFF;
      height: 46px;
      line-height: 46px;
      font-size: 14pt;
      border: none;
      padding: 0;
    }
    &.drawer-shown {
      transition: right .5s;
      right: 0 !important;
      #drawer-handle {
        opacity: 0;
        transition: opacity .5s;
      }
    }
    #drawer-handle {
      display: block !important;
      font-size: 14pt;
      transition: opacity .5s;
      position: absolute;
      background: #222;
      border: none;
      box-shadow: 0 0 4px black;
      color: white;
      left: -150px;
      bottom: 30px;
      text-align: center;
      line-height: 1;
      padding: 20px 50px 20px 20px;
    }
  }
}